html {
    background-color: #FAF9F6;
}
body {
    padding: 0;
    margin: 3rem;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

p {
    margin: 0;
}

code {
    background: #dddcdc;
    padding: 0.3rem;
    font-size: 1rem;
}

img {
    max-width: 100%;
    display: block;
}