.experienceEntry {
    display: grid;
    grid-template-columns: minmax(auto, 100px) minmax(auto, 400px) minmax(auto, 150px) minmax(auto, 150px);
    gap: 20px;
    align-items: center;
    margin-bottom: 0.5em;
}

.company,
.title,
.location,
.date {
    white-space: nowrap;
}

.companyLink {
    text-decoration: none;
    color: #004175;
}

.companyLink:hover {
    text-decoration: underline;
    color: #002E50;
}